/* animations for the rotate arrow indicators */
@keyframes growShrink {
  0%, 100% {
    transform: scale(1) translateY(-50%) rotatez(-20deg);
  }
  50% {
    transform: scale(1.2) translateY(-50%) rotatez(-20deg);
  }
}

/* Define the keyframes for the grow-shrink animation for rotated elements */
@keyframes growShrinkRotate {
  0%, 100% {
    transform: scale(1) translateY(-50%) rotateY(180deg) rotatez(-20deg);
  }
  50% {
    transform: scale(1.2) translateY(-50%) rotateY(185deg) rotatez(-20deg);
  }
}
.lockWrapper {
  /* box-sizing: border-box; */
  /* border: solid red 2px; */
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: visible;
}
.lockFaceWrapper {
  /* border: solid orange 2px; */
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
.lockFace {
  /* border: solid yellow 2px; */
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
.lockDialWrapper {
  /* border: solid orange 2px; */
  position: absolute;
  top: -32%;
  left: -40.5%;
  width: 80%;
  height: 78%;
  padding: 50%;
  pointer-events: auto;
  /* border: solid rgb(255, 255, 255) 2px; */
  /* background-color: rgba(0, 0, 0, .5); */
  border-radius: 50%;
  transform-origin: center;
  /* z-index: 1; */
}
.lockDial {
  /* border: solid yellow 2px; */
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* border: solid green 2px; */
  /* z-index: 2; */
}
.lockBarWrapper {
  position: absolute;
  top: -60%;
  left: 8%;
  width: 80%;
  /* border: solid green 2px; */
}
.lockBar {
  height: 100%;
  width: 100%;
}
.lockIndicatorWrapper {
  z-index: 20;
  pointer-events: none;
  /* outline: solid red 1px; */
  position: absolute;
  height: 77%;
  width: 79.5%;
  top: 18%;
  left: 10%;
  transform-origin: center;
}
.lockDialIndicator {
  position: absolute;
  /* border: solid green 2px; */
  width: 50px;
  height: 60px;
  z-index: 20;
  top: -15%;
  left: calc(50% - 25px);
  /* border: solid yellow 2px; */
}


/* .lock {
  position: absolute;
  bottom: -220px;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 50%;
} */
.lockFaceWrapper {
  position: relative;

  /* border: solid red 2px; */
}

#lockFaceContainer{
  z-index: 1;
}
.lockBarOpen {
  transform: translateY(-20%);
  transition: transform 1.5s ease-in-out;
}
.hidden {
  display: none;
}
.swipableAreaIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  /* border: dashed rgb(203, 203, 203) 1px; */
  background-color: rgba(0, 0, 0, .5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensures the div doesn't interfere with user interaction */
  z-index: 0;
  border: dashed white 1px;
}
.arrowIndicatorLeft, .arrowIndicatorRight {
  position: absolute;
  z-index: 10;
  top: 30%;
  right: -25%;
  animation: growShrink 2s infinite; /* Apply the animation */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .8)); /* Add glow effect */
  pointer-events: none;
  touch-action: none;
  /* transform: translateY(-50%); */
}
.arrowIndicatorLeft {
  right: 95%;
  /* transform: translateY(-50%) rotateY(180deg); */
  animation: growShrinkRotate 2s infinite; /* Apply the animation with rotation */

}

.arrowImage {
  height: 100px;
  width: 80px;
  margin: 0;
  padding: 0;
}
@media(max-width: 768px) {

}

@media(max-width: 350px) {
  .arrowIndicatorLeft, .arrowIndicatorRight {
    top: 40%;
    right: -35%;
  }
  .arrowIndicatorLeft {
    right: 135%;
  }
}