/* animations for the rotate arrow indicators */
@keyframes growShrink {
  0%, 100% {
    transform: scale(1) translateY(-50%) rotatez(-20deg);
  }
  50% {
    transform: scale(1.2) translateY(-50%) rotatez(-20deg);
  }
}

/* Define the keyframes for the grow-shrink animation for rotated elements */
@keyframes growShrinkRotate {
  0%, 100% {
    transform: scale(1) translateY(-50%) rotateY(180deg) rotatez(-20deg);
  }
  50% {
    transform: scale(1.2) translateY(-50%) rotateY(185deg) rotatez(-20deg);
  }
}
.lockWrapper {
  /* box-sizing: border-box; */
  border: solid red 2px;
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.lockFaceWrapper {
  /* border: solid orange 2px; */
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
.lockFace {
  /* border: solid yellow 2px; */
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
.lockDialWrapper {
  /* border: solid orange 2px; */
  position: absolute;
  top: 16%;
  left: 8%;
  width: 80%;
  height: 78%;
  pointer-events: auto;
  border: solid orange 2px;
  /* z-index: 1; */
}
.lockDial {
  /* border: solid yellow 2px; */
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: solid green 2px;
  /* z-index: 2; */
}
.lockBarWrapper {
  position: absolute;
  top: -60%;
  left: 8%;
  width: 80%;
  border: solid green 2px;
}
.lockBar {
  height: 100%;
  width: 100%;
}



/* .lock {
  position: absolute;
  bottom: -220px;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 50%;
} */
.lockFaceWrapper {
  position: relative;

  /* border: solid red 2px; */
}

.lockIndicatorWrapper {
  z-index: 10;
    pointer-events: none;
}
.lockFaceIndicator {

}
.lockContainer {
  /* border: solid rgb(255, 255, 255) 1px; */
}
.lockFace {

}
#lockFaceContainer{
  z-index: 1;
}
.lockBarOpen {
  transform: translateY(-7%);
  transition: transform 1.5s ease-in-out;
}
.hidden {
  display: none;
}
.swipableAreaIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  /* border: dashed rgb(203, 203, 203) 1px;
  background-color: rgba(0, 0, 0, .4); */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensures the div doesn't interfere with user interaction */
  z-index: 0;
}
.arrowIndicatorLeft, .arrowIndicatorRight {
  position: absolute;
  z-index: 10;
  top: 30%;
  right: -25%;
  animation: growShrink 2s infinite; /* Apply the animation */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .8)); /* Add glow effect */
  pointer-events: none;
  touch-action: none;
  /* transform: translateY(-50%); */
}
.arrowIndicatorLeft {
  right: 10%;
  /* transform: translateY(-50%) rotateY(180deg); */
  animation: growShrinkRotate 2s infinite; /* Apply the animation with rotation */

}

.arrowImage {
  height: 100px;
  width: 80px;
  margin: 0;
  padding: 0;
}
@media(max-width: 768px) {

}

@media(max-width: 350px) {
  .arrowIndicatorLeft, .arrowIndicatorRight {
    top: 40%;
    right: -35%;
  }
  .arrowIndicatorLeft {
    right: 135%;
  }
}