.usernameInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid yellow 2px; */
  text-align: center;
}
.usernameLabel {
  font-size: 1.5rem;
  margin: 1rem;
  text-decoration: underline;
  text-decoration-color: red;
  display: block;
}
.usernameInput {
display: block;
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
border: dashed rgb(255, 255, 255) 1px;
margin: .5rem;
width: 400px;
max-width: 90%;
font-size: 1.5rem;
/* font-family: Future; */
padding: .25rem;
text-align: center;
}




.usernameWrapper {
  /* border: solid red 2px; */
}
.username {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: red;
}