#resetContainer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50vw;
  min-width: 330px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
  margin: 2rem;
  border-radius: 15px;
  color: white;
  padding: 1rem;
}
.comboNumberLabel {
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
  color: red;
}
#stepsContainer {
  position: relative;
  z-index: 3;
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: .75rem;
  padding-top: .25rem;
  margin-top: .25rem;
  margin: 1rem;
  color: black;
  border-radius: 15px;
  border: solid rgb(136, 136, 136) 1px;
}
#resetContainer h2 {
  margin: .5rem 0 0 0 ;
  font-size: 1.5rem;
  font-weight: 200;

}
#resetContainer p {
  margin: .5rem 0 0 0 ;
  padding: 0;
}