.container {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  max-height: 200px;
}
.welcomeWrapper {
  /* position: absolute; */
  width: 100vw;
  /* left: 50%;
  transform: translate(-50%, 0); */
}
.formContainer{
  width: 100vw;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.logoWrapper {
  background-color: rgba(0, 107, 149, 0.8);
  border-bottom: 2px solid rgb(0, 77, 107);
  width: fit-content;
  margin: 0 auto;
  width: 100vw;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 0 1rem 2rem;
  margin: 0;
  backdrop-filter: blur(3px) brightness(.9);
  height: 100px;
  /* border: solid red 2px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shield {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  margin: 0;
  padding: 0;
}
.titledLogo {
  display: none;
  width: 60%;
  max-width: 400px;
margin: 0;
padding: 0;
}
.title {
  color: red;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 1px rgb(255, 255, 255);

}
.comboInput {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: solid rgb(136, 136, 136) 1px;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
}


#welcomeHeader {
  border-radius: 5px;
}
.resetContainer {
  font-family: GeoSansLight;
  width: 80vw;
  min-width: 250px;
  max-width: 600px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 2rem;
  height: auto;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
.resetContainer p {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

@media(max-width: 768px) {
  .welcomeWrapper {
    position: relative;
    transform: none;
    top: 0;
    left: 0;

  }
  .shield {
    height: 50%;
  }
  .logoWrapper {
    background-color: rgba(0, 107, 149, 0.3);

    box-sizing: border-box;
    transform: none;
    padding: 0;
    height: 80px;
    border-bottom-width: 1px;
  }
  .title {
    width: 60%;
    font-size: 1.5rem;
  }
  .comboInput {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  .resetContainer {
    width: 80vw;
    min-width: 0;
    transform: none;
  }
}