.container {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  max-height: 200px;
}
.title {
  font-size: 1.75rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.welcomeWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#formContainer{
  width: 100vw;
}
#inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.logoWrapper {
  background-color: rgba(255, 255, 255, .7);
  width: fit-content;
  margin: 0 auto;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  transform: skew(-10deg);
  padding: 0 0 1rem 2rem;
  border-radius: 5px;
  border: solid white 4px;
  backdrop-filter: blur(1px);
}
.logo {
  position: relative;
  margin: 0 auto;
  height: 25vw;
  width: 100vw;
  max-height: 150px;
  max-width: 600px;
  margin-bottom: -20px;
}
.comboInput {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: solid rgb(136, 136, 136) 1px;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
}

#comboSubmitButton {
  width: 18rem;
  border: solid;
  border: solid rgb(136, 136, 136) 1px;
  border-radius: 15px;
  padding: .5rem;
  background-color: rgb(0, 71, 142);
  background: linear-gradient(to right, rgb(115, 178, 241), rgb(246, 169, 184));
  /* color: white; */
  font-size: 1.5rem;
  font-family: Future;
}
#welcomeHeader {
  border-radius: 5px;
}
#resetContainer {
  font-family: GeoSansLight;
  width: 80vw;
  min-width: 250px;
  max-width: 600px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 2rem;
  height: auto;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  transform: skew(-10deg);
}
#resetContainer p {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

@media(max-width: 768px) {
  .welcomeWrapper {
    position: relative;
    transform: none;
    top: 0;
    left: 0;

  }
  .logo {
    min-width: 90vw;
    min-height: 22.5vw;
    margin: 0 auto;
    margin-bottom: -1rem;
    transform: none;
    /* border: solid red 2px; */
  }
  .logoWrapper {
    box-sizing: border-box;
    width: 95vw;
    transform: none;
    padding: 0;
  }
  .title {
    margin-bottom: 1rem;
  }
  .comboInput {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  #comboSubmitButton {
    width: 15rem;
    font-size: 1.25rem;
  }
  #resetContainer {
    width: 80vw;
    min-width: 0;
    transform: none;
  }
}