@font-face {
  font-family: 'Future';
  src: url('../public/fonts/FUTRFW.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeoSansLight';
  src: url('../public/fonts/GeosansLight.ttf');
  font-weight: normal;
  font-style: normal;
}

#app {
  background: linear-gradient(to bottom, #37c6ff, #0092ec);
  background-image: url(../public/gradient3small.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(to bottom, #53afe9, #fafafa); */
  font-family: Future;
  text-align: center;
  letter-spacing: 0;
  overflow: hidden;
  /* border: solid red 4px; */
  box-sizing: border-box;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.infoCard {
  font-family: GeoSansLight;
  width: 50vw;
  min-width: 500px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
  margin: 1rem 2rem 0rem 2rem;
  border-radius: 15px;
  color: white;
  padding: .5rem .25rem;
  font-size: 1.25rem;

}
.infoCard h2 {
  margin: 0;
  padding: 0;
}
.infoCard h3 {
  margin: 0;
}
.infoCard p {
  margin: 1rem;;
  padding: 0;
}
.stylizedButton {
  background: linear-gradient(to right, rgb(115, 178, 241), rgb(246, 169, 184));
  background: rgb(255, 84, 98);
  color: black;
  border: none;
  font-size: 1.5rem;
  border-radius: 3px;
  padding: .5rem 1rem .5rem 1rem;
  margin: .5rem;
  /* width: 50%; */
}
.stylizedButton:hover {
  background: rgb(255, 84, 98);
  color: white;
  cursor: pointer;
}
@media(max-width: 768px) {
  .infoCard {
    width: 90vw;
    min-width: 0;
  }
  #app {
    background-image: url(../public/gradient3smallVertical.webp);
  }
}