.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.lock {
  position: absolute;
  top: 15%;
  border: solid red 4px;
}

#lockContainer{

}
#lockFaceContainer{
  position: absolute;
  z-index: 1;
}