#resetContainer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50vw;
  min-width: 350px;
}

.againButton {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}