#resetContainer {
  font-family: GeoSansLight;
  width: 80vw;
  min-width: 250px;
  max-width: 600px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
  margin: 1rem 0rem 0rem 0rem;
  height: auto;
  border-radius: 15px;
  color: white;
  padding: 1rem;
}

.againButton {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}
#resetContainer p {

  font-size: 1.5rem;
}